:root {
  /* COLOR */
  --backcountry-dark-accent-primary: rgb(0, 86, 187);
  --backcountry-dark-button-primary-border-active: rgb(0, 86, 187);
  --backcountry-dark-button-primary-border-focus: rgb(8, 123, 255);
  --backcountry-dark-button-primary-surface-active: rgb(8, 123, 255);
  --backcountry-dark-button-primary-surface-disabled: rgb(8, 51, 102);
  --backcountry-dark-button-primary-surface-focus: rgb(0, 86, 187);
  --backcountry-dark-button-primary-surface-hover: rgb(8, 123, 255);
  --backcountry-dark-button-primary-surface-rest: rgb(0, 86, 187);
  --backcountry-dark-button-primary-text-active: rgb(255, 255, 255);
  --backcountry-dark-button-primary-text-disabled: rgb(0, 72, 153);
  --backcountry-dark-button-primary-text-focus: rgb(255, 255, 255);
  --backcountry-dark-button-primary-text-hover: rgb(255, 255, 255);
  --backcountry-dark-button-primary-text-rest: rgb(255, 255, 255);
  --backcountry-dark-divider-base: rgb(51, 51, 51);
  --backcountry-dark-divider-primary: rgb(70, 70, 70);
  --backcountry-dark-divider-secondary: rgb(85, 85, 85);
  --backcountry-dark-divider-tertiary: rgb(119, 119, 119);
  --backcountry-dark-icon-primary: rgb(226, 226, 226);
  --backcountry-dark-icon-secondary: rgb(119, 119, 119);
  --backcountry-dark-text-dim: rgb(139, 139, 139);
  --backcountry-dark-text-primary: rgb(226, 226, 226);
  --backcountry-dark-text-secondary: rgb(189, 189, 189);
  --backcountry-dark-text-tertiary: rgb(165, 165, 165);
  --backcountry-light-accent-primary: rgb(8, 123, 255);
  --backcountry-light-button-primary-border-active: rgb(8, 123, 255);
  --backcountry-light-button-primary-border-focus: rgb(0, 86, 187);
  --backcountry-light-button-primary-surface-active: rgb(0, 86, 187);
  --backcountry-light-button-primary-surface-disabled: rgb(139, 190, 253);
  --backcountry-light-button-primary-surface-focus: rgb(8, 123, 255);
  --backcountry-light-button-primary-surface-hover: rgb(0, 86, 187);
  --backcountry-light-button-primary-surface-rest: rgb(8, 123, 255);
  --backcountry-light-button-primary-text-active: rgb(255, 255, 255);
  --backcountry-light-button-primary-text-disabled: rgb(190, 220, 254);
  --backcountry-light-button-primary-text-focus: rgb(255, 255, 255);
  --backcountry-light-button-primary-text-hover: rgb(255, 255, 255);
  --backcountry-light-button-primary-text-rest: rgb(255, 255, 255);
  --backcountry-light-divider-base: rgb(226, 226, 226);
  --backcountry-light-divider-primary: rgb(189, 189, 189);
  --backcountry-light-divider-secondary: rgb(165, 165, 165);
  --backcountry-light-divider-tertiary: rgb(139, 139, 139);
  --backcountry-light-icon-primary: rgb(51, 51, 51);
  --backcountry-light-icon-secondary: rgb(139, 139, 139);
  --backcountry-light-icon-twotone-primary: rgb(165, 165, 165);
  --backcountry-light-icon-twotone-secondary: rgb(255, 255, 255);
  --backcountry-light-surface-base: rgb(255, 255, 255);
  --backcountry-light-surface-primary: rgb(245, 245, 245);
  --backcountry-light-surface-secondary: rgb(226, 226, 226);
  --backcountry-light-surface-tertiary: rgb(189, 189, 189);
  --backcountry-light-text-dim: rgb(102, 102, 102);
  --backcountry-light-text-primary: rgb(51, 51, 51);
  --backcountry-light-text-secondary: rgb(70, 70, 70);
  --backcountry-light-text-tertiary: rgb(85, 85, 85);
  --hunt-dark-accent-primary: rgb(201, 40, 0);
  --hunt-dark-button-primary-border-active: rgb(201, 40, 0);
  --hunt-dark-button-primary-border-focus: rgb(255, 51, 0);
  --hunt-dark-button-primary-surface-active: rgb(255, 51, 0);
  --hunt-dark-button-primary-surface-disabled: rgb(109, 28, 8);
  --hunt-dark-button-primary-surface-focus: rgb(201, 40, 0);
  --hunt-dark-button-primary-surface-hover: rgb(255, 51, 0);
  --hunt-dark-button-primary-surface-rest: rgb(201, 40, 0);
  --hunt-dark-button-primary-text-active: rgb(255, 255, 255);
  --hunt-dark-button-primary-text-disabled: rgb(138, 31, 5);
  --hunt-dark-button-primary-text-focus: rgb(255, 255, 255);
  --hunt-dark-button-primary-text-hover: rgb(255, 255, 255);
  --hunt-dark-button-primary-text-rest: rgb(255, 255, 255);
  --hunt-dark-divider-base: rgb(51, 51, 51);
  --hunt-dark-divider-primary: rgb(70, 70, 70);
  --hunt-dark-divider-secondary: rgb(85, 85, 85);
  --hunt-dark-divider-tertiary: rgb(119, 119, 119);
  --hunt-dark-icon-primary: rgb(226, 226, 226);
  --hunt-dark-icon-secondary: rgb(119, 119, 119);
  --hunt-dark-text-dim: rgb(139, 139, 139);
  --hunt-dark-text-primary: rgb(226, 226, 226);
  --hunt-dark-text-secondary: rgb(189, 189, 189);
  --hunt-dark-text-tertiary: rgb(165, 165, 165);
  --hunt-light-accent-primary: rgb(255, 51, 0);
  --hunt-light-button-primary-border-active: rgb(255, 51, 0);
  --hunt-light-button-primary-border-focus: rgb(201, 40, 0);
  --hunt-light-button-primary-surface-active: rgb(201, 40, 0);
  --hunt-light-button-primary-surface-disabled: rgb(255, 194, 178);
  --hunt-light-button-primary-surface-focus: rgb(255, 51, 0);
  --hunt-light-button-primary-surface-hover: rgb(201, 40, 0);
  --hunt-light-button-primary-surface-rest: rgb(255, 51, 0);
  --hunt-light-button-primary-text-active: rgb(255, 255, 255);
  --hunt-light-button-primary-text-disabled: rgb(255, 230, 224);
  --hunt-light-button-primary-text-focus: rgb(255, 255, 255);
  --hunt-light-button-primary-text-hover: rgb(255, 255, 255);
  --hunt-light-button-primary-text-rest: rgb(255, 255, 255);
  --hunt-light-divider-base: rgb(226, 226, 226);
  --hunt-light-divider-primary: rgb(189, 189, 189);
  --hunt-light-divider-secondary: rgb(165, 165, 165);
  --hunt-light-divider-tertiary: rgb(139, 139, 139);
  --hunt-light-icon-primary: rgb(51, 51, 51);
  --hunt-light-icon-secondary: rgb(139, 139, 139);
  --hunt-light-icon-twotone-primary: rgb(165, 165, 165);
  --hunt-light-icon-twotone-secondary: rgb(255, 255, 255);
  --hunt-light-surface-base: rgb(255, 255, 255);
  --hunt-light-surface-primary: rgb(245, 245, 245);
  --hunt-light-surface-secondary: rgb(226, 226, 226);
  --hunt-light-surface-tertiary: rgb(189, 189, 189);
  --hunt-light-text-dim: rgb(102, 102, 102);
  --hunt-light-text-primary: rgb(51, 51, 51);
  --hunt-light-text-secondary: rgb(70, 70, 70);
  --hunt-light-text-tertiary: rgb(85, 85, 85);
  --offroad-dark-accent-primary: rgb(189, 114, 0);
  --offroad-dark-button-primary-border-active: rgb(189, 114, 0);
  --offroad-dark-button-primary-border-focus: rgb(255, 159, 14);
  --offroad-dark-button-primary-surface-active: rgb(255, 159, 14);
  --offroad-dark-button-primary-surface-disabled: rgb(105, 66, 7);
  --offroad-dark-button-primary-surface-focus: rgb(189, 114, 0);
  --offroad-dark-button-primary-surface-hover: rgb(255, 159, 14);
  --offroad-dark-button-primary-surface-rest: rgb(189, 114, 0);
  --offroad-dark-button-primary-text-active: rgb(34, 34, 34);
  --offroad-dark-button-primary-text-disabled: rgb(51, 33, 5);
  --offroad-dark-button-primary-text-focus: rgb(34, 34, 34);
  --offroad-dark-button-primary-text-hover: rgb(34, 34, 34);
  --offroad-dark-button-primary-text-rest: rgb(34, 34, 34);
  --offroad-dark-divider-base: rgb(51, 51, 51);
  --offroad-dark-divider-primary: rgb(70, 70, 70);
  --offroad-dark-divider-secondary: rgb(85, 85, 85);
  --offroad-dark-divider-tertiary: rgb(119, 119, 119);
  --offroad-dark-icon-primary: rgb(226, 226, 226);
  --offroad-dark-icon-secondary: rgb(119, 119, 119);
  --offroad-dark-text-dim: rgb(139, 139, 139);
  --offroad-dark-text-primary: rgb(226, 226, 226);
  --offroad-dark-text-secondary: rgb(189, 189, 189);
  --offroad-dark-text-tertiary: rgb(165, 165, 165);
  --offroad-light-accent-primary: rgb(255, 159, 14);
  --offroad-light-button-primary-border-active: rgb(255, 159, 14);
  --offroad-light-button-primary-border-focus: rgb(255, 178, 61);
  --offroad-light-button-primary-surface-active: rgb(255, 178, 61);
  --offroad-light-button-primary-surface-disabled: rgb(255, 206, 132);
  --offroad-light-button-primary-surface-focus: rgb(255, 159, 14);
  --offroad-light-button-primary-surface-hover: rgb(255, 178, 61);
  --offroad-light-button-primary-surface-rest: rgb(255, 159, 14);
  --offroad-light-button-primary-text-active: rgb(34, 34, 34);
  --offroad-light-button-primary-text-disabled: rgb(255, 178, 61);
  --offroad-light-button-primary-text-focus: rgb(34, 34, 34);
  --offroad-light-button-primary-text-hover: rgb(34, 34, 34);
  --offroad-light-button-primary-text-rest: rgb(34, 34, 34);
  --offroad-light-divider-base: rgb(226, 226, 226);
  --offroad-light-divider-primary: rgb(189, 189, 189);
  --offroad-light-divider-secondary: rgb(165, 165, 165);
  --offroad-light-divider-tertiary: rgb(139, 139, 139);
  --offroad-light-icon-primary: rgb(51, 51, 51);
  --offroad-light-icon-secondary: rgb(139, 139, 139);
  --offroad-light-icon-twotone-primary: rgb(165, 165, 165);
  --offroad-light-icon-twotone-secondary: rgb(255, 255, 255);
  --offroad-light-surface-base: rgb(255, 255, 255);
  --offroad-light-surface-primary: rgb(245, 245, 245);
  --offroad-light-surface-secondary: rgb(226, 226, 226);
  --offroad-light-surface-tertiary: rgb(189, 189, 189);
  --offroad-light-text-dim: rgb(102, 102, 102);
  --offroad-light-text-primary: rgb(51, 51, 51);
  --offroad-light-text-secondary: rgb(70, 70, 70);
  --offroad-light-text-tertiary: rgb(85, 85, 85);
}
